<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TPXX - Apellido</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <header style="position:fixed; top: 0; margin: 10px 0px 20px 0px;">
            Encabezado TP XX
            <nav>
                <ul>
                    <li>
                        <img src=https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Flag_of_Argentina_%281840%29.svg/1200px-Flag_of_Argentina_%281840%29.svg.png>
                    </li>
                    <li>
                        <a href='@Url.Action("Elecciones")'>Creditos</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Creditos")'>Creditos</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div style="padding:20px 10px 0px 10px;">
            @RenderBody()
        </div>

        <footer>
                &copy; @DateTime.Now.Year - Taller de Programación - TPXX
        </footer>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
