<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TP6 - partidospoliticos</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
            <nav>
                <ul>
                        <li>
                            <div id="contenedorimg">
                            <a href='@Url.Action("Index")'>
                                <img src=https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Flag_of_Argentina_%281840%29.svg/1200px-Flag_of_Argentina_%281840%29.svg.png width="5%">
                            </a>
                            </div>
                        </li>
                    <li>
                        <a href='@Url.Action("Elecciones")'>Elecciones</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Creditos")'>Creditos</a>
                    </li>
                </ul>
            </nav>
        <div style="padding:20px 10px 0px 10px;">
            @RenderBody()
        </div>

        <footer>
                &copy; @DateTime.Now.Year - zarekgorritos@hotmail.com
        </footer>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
