@{
    ViewData["Title"] = "Candidato";
}



<h1>@ViewBag.DetalleCandidato.Nombre  @ViewBag.DetalleCandidato.Apellido</h1>

<div id="info">
<img src="@ViewBag.DetalleCandidato.Foto" alt="foto">

<p><b>Fecha de nacimiento:</b> @ViewBag.DetalleCandidato.FechaNacimiento.ToShortDateString()</p>

<p><b>Postulacion:</b> @ViewBag.DetalleCandidato.Postulacion</p>
</div>