@{
    ViewData["Title"] = "Partido";
}

<h1>@ViewBag.Partido.Nombre</h1>
<img src="@ViewBag.Partido.Logo" alt="logo">

<h2>Informacion del partido</h2>
<p>Sitio Web: </p> <a href="#">@ViewBag.Partido.SitioWeb</a>
<p>Fecha de fundacion: @ViewBag.Partido.FechaFundacion.ToShortDateString()</p> 
<h2>Legisladores</h2>
<p>@ViewBag.Partido.CantidadDiputados Diputados</p>
<p>@ViewBag.Partido.CantidadSenadores Senadores</p>


@foreach (var candidato in ViewBag.ListaCandidatos)
{
    <div class="card">
        <img src='@candidato.Foto' alt="foto del candidato">
        <p class="cardtexto">@candidato.Nombre @candidato.Apellido</p>
        <a href='@Url.Action("DetalleCandidato", new {idCandidato=candidato.IdCandidato})'>Mas Informacion</a>
        <a href='@Url.Action("EliminarCandidato", new {idCandidato=candidato.IdCandidato, idPartido=candidato.IdPartido})'>Eliminar</a>
    </div>
}


<a href='@Url.Action("AgregarCandidato", new {idPartido=ViewBag.Partido.IdPartido})'>Agregar Un Candidato</a>