@{
    ViewData["Title"] = "Index";
}

<h1>Elecciones 2023</h1>

<h2>Partidos</h2>

<div class="contenedorCards">

    @foreach (var i in ViewBag.listaPartidos)
    {
        <div class="card">
        
            <a href='@Url.Action("DetallePartido", new {idPartido=i.IdPartido})' style="height:100%;">
                <div class="contenedorTextoCards">
                    <img src='@i.Logo' alt="logo">

                </div>

            </a>
            <a href='@Url.Action("DetallePartido", new {idPartido=i.IdPartido})'>
                <div class="contenedorTextoCards">
                    <p>@i.Nombre</p>
                </div>
            </a>
            <div class="contenedorTextoCards">
                <a href='@Url.Action("EliminarPartido", new {idPartido=i.IdPartido})'>
                <div class="contenedorlink link">
                    Eliminar
                </div>
                </a>
            </div>
        </div>
    }
</div>

<div id="contenedoragregar">
    <a href='@Url.Action("AgregarPartido")' id="agregar" class="link">Agregar partido</a>
</div>